<div class="container">
    <nav>
        <ul class="pagination">
            <li (click)="currentPage = currentPage - 1"
                [appClass]="{ disabled: currentPage === 0 }"
                class="page-item"
            >
                <a class="page-link">Prev</a>
            </li>
            <ng-container *appTimes="images.length; let imageNo = index">
                <li
                    *ngIf="showNavLink(imageNo)"
                    (click)="currentPage = imageNo"
                    [appClass]="{ active: imageNo === currentPage }"
                    class="page-item"
                >
                    <a class="page-link">{{ imageNo + 1 }}</a>
                </li>
            </ng-container>

            <li (click)="currentPage = currentPage + 1"
                [appClass]="{ disabled: currentPage === images.length - 1 }"
                class="page-item"
            >
                <a class="page-link">Next</a>
            </li>
        </ul>
    </nav>

    <div>
        <h4>{{ images[currentPage].title}}</h4>
        <img [src]="images[currentPage].url">
    </div>

</div>
